.transaction-top-block {
    min-height: 40vh;
    background: linear-gradient(180deg, #333333 0%, #855380 100%);
    padding: 30px 100px 30px 150px;
}

.transaction-bottom-block {
    min-height: 60vh;
    background: linear-gradient(180deg, #855380 0%, #FFE5B4 100%);
    padding: 20px 100px 20px 150px;
}

.transaction-top-row {
    color: #855380;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding-bottom: 40px;
}

.transaction-bottom-row {
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding-bottom: 40px;
}

.transaction-title {
    font-size: xx-large;
}

.transaction-currency-block-retrieve {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-bottom: 0;
}

.transaction-edit-block-retrieve {
    display: flex;
    align-items: center;
}

.transaction-retrieve-button {
    font-weight: bold;
    margin-left: 30px;
    transition: 0.3s;
}

.transaction-retrieve-button:hover {
    background-color: purple;
}

.transaction-retrieve-input {
    background-color: #FFE5B4;
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px;
    border: none;
}

.transaction-retrieve-input:focus {
    outline-color: #333333;
}

.transaction-confirm {
    background-color: #608553;
}

.transaction-confirm:hover {
    background-color: green;
}

.transaction-cancel {
    background-color: #A93232;
}

.transaction-cancel:hover {
    background-color: red;
}

.transaction-space-between-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-card-layout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    width: 220px;
    color: white;
    border-radius: 20px;
    background: linear-gradient(0deg, #333333 0%, #855380 100%);
    height: 140px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.transaction-cards-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


/* The Modal (background) */

.transaction-users-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.transaction-modal-content {
    background-color: #FFE5B4;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, #855380 0%, #FFE5B4 100%);
}

.transaction-account-create-input {
    background-color: #FFE5B4;
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px;
    border: none;
    margin-left: 10px;
}

.transaction-list-option-retrieve {
    margin-left: 165px;
    width: 350px;
    z-index: 10;
}

.transaction-users {
    min-height: 80px;
    padding: 10px;
}

.transaction-picked-user {
    font-weight: bold;
    font-size: x-large;
}

.transaction-add-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 220px;
}

.transaction-card-retrieve {
    margin: 0 20% 0 20%;
    background-color: #855380;
    border-radius: 30px;
    padding: 40px 60px 20px 60px;
}

.transaction-card-create-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.transaction-users-select {
    font-size: x-large;
    background-color: #855380;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
    outline: none;
    border-color: white;
    border-width: 2px;
}

.transaction-card-create-input {
    background-color: #FFE5B4;
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px;
    border: none;
}

.transaction-card-create-input:focus {
    outline-color: #333333;
}

.transaction-pin-input {
    min-width: 10px;
}

.transaction-stretched {
    width: inherit;
}

.transaction-card-retrieve-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.transaction-input-retrieve {
    background-color: #855380;
    color: white;
    border: none;
    outline: none;
    font-size: x-large;
    margin: 0;
    font-weight: bold;
    min-width: 0;
    border-bottom-style: solid;
    border-bottom-color: white;
    padding-bottom: 0;
    margin-bottom: 5px;
}