.bar {
    background-color: #333333;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 28;
    justify-content: space-between;
    align-items: center;
}


h2 {
    color: white;
    position: relative;
    width: 15%;
    margin: 0;
    font-family: Arial, serif;
    font-size: large;
    padding: 10px 15px;
}

.link {
    color: white;
    padding: 20px 10px;
    justify-content: center;
    position: relative;
    font-weight: bold;
    width: 15%;
    font-family: Arial, serif;
    margin: 0;
    font-size: large;
}

.link:hover {
    background-color: white;
    color: #333333;
}
