.burger-button {
    position: fixed;
    text-align: center;
    padding: 0 9px 4px 9px;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 40px;
    background-color: #855380;
    transition: background-color .3s;
}
.burger-button:hover {
    background-color: purple;
}

.burger-text {
    color: white;
    font-size: 30px;
    cursor: pointer;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #FFE5B4;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.side-link {
    border-bottom-style: solid;
}

.sidenav .side-link, .sidenav .x {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    height: 25px;
    margin: 0 0 30px 0;
    color: #333333;
    display: block;
    transition: 0.3s;
}

.sidenav .x:hover, .sidenav .side-link:hover {
    color: #855380;
    border-color: #855380;
    background-color: #FFE5B4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .selected {
    background-color: #855380;
    color: white;
    border-color: #855380;
    padding-bottom: 10px;
}

.sidebox {
    background-color: #333333;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    opacity: 50%;
    top: 0px;
}


